[req]
distinguished_name = conjur-dev-leader
req_extensions = v3_req
prompt = no

[conjur-dev-leader]
C = JP
ST = Chiba
L = Chiba
O = GCloud
OU = Tech
CN = conjur-dev-leader.gcloud101.com
emailAddress = admin@gcloud101.com

[v3_req]
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = conjur-dev-leader.gcloud101.com
DNS.2 = conjur01.gcloud101.com
DNS.3 = conjur02.gcloud101.com
DNS.4 = conjur03.gcloud101.com
